﻿@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @Styles.Render("~/Content/css")
    @RenderSection("head",false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    @RenderSection("body",false)
</body>
</html>
